<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .outside {
            display: flex;
            gap: 30px;
        }

        .box {
            width: 100px;
            height: 100px;
            border: 2px solid black;
            border-radius: 5px;
        }
    </style>
    <title>playground
    </title>
</head>

<body>
    <div class="outside">
        {% for i in range(0,num) %}
        <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>

</html>